html {

  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.header{
  z-index: 1000;
  height: 4rem;
  background-color: rgb(39,39,39);

}

main>*{
  padding: 2rem;
  
}

p {
  /* height: 100%;
  width: 100%; */
  font-size: 2.5vh;
  /* overflow: hidden; */
}

footer{
  display:flex;

  background-color:rgb(39,39,39);
  height: 3rem;
  color:white;
  justify-content:space-evenly;
  z-index:-1000;

}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: left;

  border-radius: 15px;
  border: 10px solid rgb(55, 57, 58);
  margin: 15px;
  /* min-width: 266px;
  min-height: 300px; */

  width: 100%;
  height: 100%;
  background: rgba(11, 13, 14, 0.15);
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 5px solid #000000;
  height: calc(17.5px + 100%);
  overflow: hidden;
}

.itemImg {
  display: flex;
  height: auto;
  width: 8rem;
  justify-content: left;
  align-items: center;
  padding: 1rem;
}

.itemName {
  width: 50%;
  font-size: calc(0.5px + 2vw);
}

.btn {
  margin-left: auto;
  margin-right: 10px;

  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem;

  border-style: solid;
  border-radius: 5px;
  border-color: #060b0c;
  background-color: #727272;
  color: white;
}

.listHeader {
  text-align: center;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 194, 194);
  border-color: rgb(63, 63, 63);
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

.editArea {
  height: auto;
  margin: 1rem;
  max-height: 100%;
  max-width: 100%;
}

.editFields {
  width: 100%;
}

nav {
  background-color:black;
}

.navbtn {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbtn:hover {
  background-color: rgb(187, 187, 187);
  color: black;
}
